.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 30px;
  padding-right: 30px;
  width: 1024px;

  @media screen and (min-width: 1280px) {
    width: 1280px;
  }

  @media screen and (min-width: 1440px) {
    width: 1440px;
  }
}
