.list {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav-link {
  color: #000;
  font-family: "Nunito Sans";
  font-size: 15px;
  font-weight: 700;
  line-height: 1.53;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0px 30px;
}

.header-btn {
  border-radius: 10px;
  border: 2px solid #49478c;
  padding: 15px 25px 15px 30px;
  color: #6547a5;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  font-family: "Nunito Sans";
  background-color: transparent;
  text-decoration: none ;

  transition: background-color 150ms linear, color 150ms linear;

  &:hover {
    background-color: #49478c;
    color: #fff;
  }
}
