.market-title {
  color: #0b2238;
  font-family: "Nunito Sans";
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 3px;
  margin-bottom: 17px;
}

.hero-title {
  color: #222;
  font-family: "Nunito Sans";
  font-size: 64px;
  font-weight: 700;
  line-height: 72px;
  margin-bottom: 29px;
}

.hero-description {
  margin: 15px 0;
  margin-bottom: 32px;
  color: #475766;
  font-family: "Nunito Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 1.55;
}

.invest-button {
  display: block;
  background-color: #7a5cf5;
  color: white;
  border: 2px solid #7a5cf5;
  padding: 15px 0;
  width: 100%;
  border-radius: 8px;
  font-weight: 900;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
  text-align: center;
  font-family: "Nunito Sans";
  cursor: pointer;
  text-decoration: none;

  font-size: 16px;

  transition: background-color 150ms linear, color 150ms linear;

  &:hover {
    background-color: white;
    color: #7a5cf5;
  }
}

.store-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 30px;
}

.store-badge {
  height: 50px;
}

.stats {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}

.stat-title {
  font-size: 14px;
  color: #666;
  margin: 0;
}

.stat-value {
  font-size: 20px;
  font-weight: bold;
  color: #3b3b3b;
}

.hero {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.hero-image {
  width: 580px;
  height: 666px;

  @media screen and (min-width: 1280px) {
    width: 830px;
    height: 906px;
  }
}

.stat-title {
  color: #4f4f4f;
  font-family: "Nunito Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.2px;
}

.stat-value {
  color: #3c387f;
  font-family: "Nunito Sans";
  font-size: 32px;
  font-weight: 800;
  line-height: 1.18;
  text-align: center;
}

.hero-wrapper {
  margin-top: 88px;
}

.accent-hero-title {
  color: #222;
  font-family: "Nunito Sans";
  font-size: 64px;
  font-weight: 900;
  line-height: 72px;
  letter-spacing: -1px;
}
